@model WebProje.Models.Haberler

@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IOptions<RequestLocalizationOptions> Locoptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = Locoptions.Value.SupportedCultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="~/css/pilotlar.css" rel="stylesheet" />

</head>


<body id="details">
    <form id="cultureForm" asp-action="Details">
        <select name="culture" onchange="this.form.submit()" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems">
        </select>
    </form>
    <div id="govdeTakim">
        <div class="container">
            <br />
            <div id="haberdetay">


                <div id="haberdetaysolust">
                    @if (Model.Id == 1)
                    {
                        <img src="~/img/Haber1.jpg" id="haberfoto">
                    }
                    @if (Model.Id == 2)
                    {
                        <img src="~/img/Haber2.jpg" id="haberfoto">
                    }
                    @if (Model.Id == 3)
                    {
                        <img src="~/img/Haber3.jpg" id="haberfoto">
                    }
                    @if (Model.Id == 4)
                    {
                        <img src="~/img/Haber4.jpg" id="haberfoto">
                    }
                    @if (Model.Id == 5)
                    {
                        <img src="~/img/Haber5.jpg" id="haberfoto">
                    }
                    @if (Model.Id == 6)
                    {
                        <img src="~/img/Haber6.jpg" id="haberfoto">
                    }

                    @Html.DisplayFor(model => model.Tarih)
                </div>
                <div id="haberdetaysolustust">
                    <h2>
                        @if (requestCulture.RequestCulture.Culture.ToString() == "en-US")
                        {
                            @Html.DisplayFor(modelItem => Model.BaslikEng)

                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => Model.Baslik)
                        }
                    </h2>
                </div>
                @if (requestCulture.RequestCulture.Culture.ToString() == "en-US")
                {
                    @Html.DisplayFor(modelItem => Model.HaberEng)

                }
                else
                {
                    @Html.DisplayFor(modelItem => Model.HaberTr)
                }
            </div>
            <div id="haberdetaysag">

            </div>

        </div>
    </div>

</body>
</html>
