@model IEnumerable<WebProje.Models.Takvim>

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">


    <link href="~/css/pilotlar.css" rel="stylesheet" />

</head>
<body>








        <div id="govdeTakim">
            <div id="b0">
                <h1>2020 FORMULA 1 TAKVİMİ</h1>
            </div>
            <br /><br /><br /><br /><br /><br />
            <div class="container">
                <br />
                <div id="takvim">



                    @foreach (var item in Model)
                    {




                        <dl class="row">


                            <dd class="col-sm-6">
                                <h2><b> @Html.DisplayFor(modelItem => item.YarisAdi)</b> </h2>
                                <p> @Html.DisplayFor(modelItem => item.PistAdi)</p>

                            </dd>
                            <dd class="col-sm-6">
                                <h4> Kazanan: @Html.DisplayFor(modelItem => item.Birinci)</h4>

                            </dd>


                            <dd class="col-sm-12">
                                <h5>1- @Html.DisplayFor(modelItem => item.Birinci)</h5> <hr />

                            </dd>

                            <dd class="col-sm-12">
                                <h5>2- @Html.DisplayFor(modelItem => item.Ikinci)</h5><hr />
                            </dd>

                            <dd class="col-sm-12">
                                <h5>3- @Html.DisplayFor(modelItem => item.Ucuncu)</h5><hr />
                            </dd>

                            <dd class="col-sm-12">
                                <h5>4- @Html.DisplayFor(modelItem => item.Dorduncu)</h5><hr />
                            </dd>

                            <dd class="col-sm-12">
                                <h5>5- @Html.DisplayFor(modelItem => item.Besinci)</h5><hr />
                            </dd>

                            <dd class="col-sm-12">
                                <h5>6- @Html.DisplayFor(modelItem => item.Altinci)</h5><hr />
                            </dd>

                            <dd class="col-sm-12">
                                <h5>7- @Html.DisplayFor(modelItem => item.Yedinci)</h5><hr />
                            </dd>

                            <dd class="col-sm-12">
                                <h5>8- @Html.DisplayFor(modelItem => item.Sekizinci)</h5><hr />
                            </dd>

                            <dd class="col-sm-12">
                                <h5>9- @Html.DisplayFor(modelItem => item.Dokuzuncu)</h5><hr />
                            </dd>


                            <dd class="col-sm-12">
                                <h5>10- @Html.DisplayFor(modelItem => item.Onuncu)</h5><hr />
                            </dd>

                            <dd class="col-sm-12">
                                <h5>11- @Html.DisplayFor(modelItem => item.OnBirinci)</h5><hr />
                            </dd>

                            <dd class="col-sm-12">
                                <h5>12- @Html.DisplayFor(modelItem => item.OnIkinci)</h5><hr />
                            </dd>

                            <dd class="col-sm-12">
                                <h5>13- @Html.DisplayFor(modelItem => item.OnUcuncu)</h5><hr />
                            </dd>



                            <dd class="col-sm-12">
                                <h5>14- @Html.DisplayFor(modelItem => item.OnDorduncu)</h5><hr />

                            </dd>

                            <dd class="col-sm-12">
                                <h5>15- @Html.DisplayFor(modelItem => item.OnBesinci)</h5><hr />

                            </dd>

                            <dd class="col-sm-12">
                                <h5>16- @Html.DisplayFor(modelItem => item.OnAltinci)</h5><hr />

                            </dd>

                            <dd class="col-sm-12">
                                <h5>17- @Html.DisplayFor(modelItem => item.OnYedinci)</h5><hr />

                            </dd>

                            <dd class="col-sm-12">
                                <h5>18- @Html.DisplayFor(modelItem => item.OnSekizinci)</h5><hr />

                            </dd>

                            <dd class="col-sm-12">
                                <h5>19- @Html.DisplayFor(modelItem => item.OnDokuzuncu)</h5><hr />

                            </dd>

                            <dd class="col-sm-12">
                                <h5> 20 - @Html.DisplayFor(modelItem => item.Yirminci)</h5><hr />

                            </dd>

                        </dl>

                    }

                </div>

            </div>
        </div>
</body>
</html>
