@model WebProje.Models.Pilotlar

@{
    ViewData["Title"] = "Details";
}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
<link href="~/css/pilotlar.css" rel="stylesheet" />

<body id="details">
    <div id="govdeTakim">
        <div class="container">
            <br />
            <div id="c1">
                <dl class="row">
                    <dt class="col-sm-4">
                        AD
                       


                    </dt>

                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Ad)
                       


                    </dd>
                    <dt class="col-sm-4">
                        SOYAD
                        


                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Soyad)



                    </dd>
                    <dt class="col-sm-4">
                        YAŞ



                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Yas)



                    </dd>
                    <dt class="col-sm-4">
                        TAKIM



                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Takim)
                        


                    </dd>
                    <dt class="col-sm-4">
                        YARIŞ SAYISI


                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.YarisSayisi)


                    </dd>
                    <dt class="col-sm-4">
                        YARIŞ GALİBİYETİ



                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.YarisGalibiyet)


                    </dd>
                    <dt class="col-sm-4">
                        PODYUM SAYISI


                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PodyumSayi)


                    </dd>
                    <dt class="col-sm-4">
                        POLE SAYISI


                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Pole)


                    </dd>
                    <dt class="col-sm-4">
                        EN HIZLI TUR SAYISI


                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.EnHizliTur)


                    </dd>
                    <dt class="col-sm-4">
                        DOĞUM YERİ


                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DogumYeri)


                    </dd>

                    <dt class="col-sm-4">
                        ÜLKE


                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Ulke)


                    </dd>
                    <dt class="col-sm-4">
                        BİYOGRAFİ


                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Biyografi)


                    </dd>
                </dl>
            </div>

            <div id="c2">

                @if (Model.Id == 1)
                {
                    <div>
                        <div id="icsol">
                            <img src="~/img/Mercedes.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Hamilton.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/HamTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/England.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/HamHel.png" id="fotoHel" class="responsive" />


                        </div>


                    </div>



                    <br />

                }
                @if (Model.Id == 2)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/Mercedes.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Bottas.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/BotTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/Finland.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/BotHel.png" id="fotoHel" class="responsive" />


                        </div>


                    </div>



                    <br />

                }
                @if (Model.Id == 3)
                {
                    <div>
                        <div id="icsol">
                            <img src="~/img/Ferrari.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Leclerc.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/LecTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/Monaco.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/LecHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 4)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/Ferrari.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Vettel.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/VetTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/Germany.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/VetHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 5)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/RedBull.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Verstappen.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/VerTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/Netherlands.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/VerHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 6)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/RedBull.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Albon.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/AlbTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/Thailand.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/AlbHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 7)
                {
                    <div>
                        <div id="icsol">
                            <img src="~/img/McLaren.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Sainz.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/SaiTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/Spain.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/SaiHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 8)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/McLaren.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Norris.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/NorTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/England.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/NorHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 9)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/Renault.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Ricciardo.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/RicTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/Austrlia.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/RicHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 10)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/Renault.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Ocon.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/OcoTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/France.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/OcoHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 11)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/RacingPoint.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Perez.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/PerTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/Mexico.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/PerHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 12)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/RacingPoint.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Stroll.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/StrTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/Canada.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/StrHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 13)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/AlfaRomeo.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Giovinazzi.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/GioTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/Italy.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/GioHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 14)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/AlfaRomeo.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Raikkonen.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/RaiTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/Finland.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/RaiHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 15)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/Haas.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Magnussen.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/MagTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/Norway.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/MagHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 16)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/Haas.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Grosjean.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/GroTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/France.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/GroHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 17)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/AlphaTauri.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Gasly.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/GasTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/France.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/GasHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 18)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/AlphaTauri.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Kvyat.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/KvyTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/Russia.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/KvyTag.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 19)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/Williams.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Russell.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/RusTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/England.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/RusHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }
                @if (Model.Id == 20)
                {

                    <div>
                        <div id="icsol">
                            <img src="~/img/Williams.png" id="fotoLogo" class="responsive" />

                        </div>
                        <div id="icsag">


                        </div>
                    </div>
                    <br />

                    <img src="~/img/Latifi.png" id="foto" class="responsive">

                    <br />

                    <div>
                        <div id="icsol">
                            <img src="~/img/LatTag.png" id="fotoTag" class="responsive" />


                        </div>
                        <div id="icsag">
                            <img src="~/img/Canada.jpg" id="flag" class="responsive" />
                        </div>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div>
                        <div id="orta">
                            <img src="~/img/LatHel.png" id="fotoHel" class="responsive" />


                        </div>
                    </div><br />

                }

            </div>
        </div>
        <br /><br /> <br /><br /> <br /><br />
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>