@model IEnumerable<WebProje.Models.Pilotlar>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Takim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biyografi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YarisGalibiyet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PodyumSayi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Takim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biyografi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YarisGalibiyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PodyumSayi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
