@model WebProje.Models.Pilotlar

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PilotBilgi</title>
</head>
<body>

<div>
    <h4>Pilotlar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Takim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Takim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biyografi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biyografi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YarisGalibiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YarisGalibiyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PodyumSayi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PodyumSayi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DogumYeri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DogumYeri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampiyonlukSayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampiyonlukSayisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnHizliTur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnHizliTur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulke)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YarisSayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YarisSayisi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
